version: '3.8'

services:
  sql_server:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sql_server_container
    restart: always
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=YourStrong!Password123
      - MSSQL_PID=Express
    ports:
      - "1433:1433"
    networks:
      - switch-network
    healthcheck:
      test: [ "CMD-SHELL", "/opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P 'YourStrong!Password123' -C -Q 'SELECT 1' || exit 1" ]
      interval: 10s
      retries: 10
      start_period: 10s
      timeout: 3s

  api:
    image: ghcr.io/ceffdptinfo/switch-manager-tool-api:latest
    container_name: switch_api
    restart: on-failure
    depends_on:
      sql_server:
        condition: service_healthy
    ports:
      - "5259:5259"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:5259

    networks:
      switch-network:
      static-network:
        ipv4_address: 172.20.0.100

  frontend:
    image: ghcr.io/ceffdptinfo/switch-manager-tool-frontend:latest
    container_name: switch_frontend
    restart: on-failure
    depends_on:
      - api
    ports:
      - "80:80"
    environment:
      - ASPNETCORE_URLS=http://+80
    networks:
      switch-network:
      static-network:
        ipv4_address: 172.20.0.101

networks:
  switch-network:
    driver: bridge

  static-network:
    driver: bridge
    ipam:
      config:
        - subnet: "172.20.0.0/16"
          gateway: "172.20.0.1"
