@inherits LayoutComponentBase
<RadzenDialog @rendermode="RenderMode.InteractiveServer"></RadzenDialog>
<RadzenNotification @rendermode="RenderMode.InteractiveServer"></RadzenNotification>
<RadzenComponent />

<div class="page">
    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="d-flex justify-content-center align-items-center">
            @Body
        </article>

        
    </main>
</div>
